# pip install -r requirements.txt

# setuptools (used in unsloth)
setuptools

# huggingface
huggingface-hub>=0.17.1
datasets

# discord api
discord.py

# .env
python-dotenv

# Remove emojis
emoji

# Pitch shift
praat-parselmouth

# The following packages should be installed separately for GPU support, see README:
# llama-cpp-python
# torch
# unsloth
# GPT-SoVITS
