# pip install -r requirements.txt

# Discord API
discord.py

# .env
python-dotenv

# llama wrapper
# CMAKE_ARGS="-DGGML_CUDA=on -DCMAKE_CUDA_ARCHITECTURES=75" FORCE_CMAKE=1 pip install llama-cpp-python --no-cache-dir --force-reinstall --upgrade --verbose
llama-cpp-python

# audio generation
pyttsx3
